<div class="card product-card h-100 rounded">
    <div class="embed-responsive embed-responsive-1by">
        <img src="@Url.Content("~/"+@Model.ImageUrl)" class="card-img-top embed-responsive-item" alt="@Model.Name Image">
    </div>
    <div class="card-body bg-light rounded-bottom">
        <a href="#" class="card-title">@Model.Name</a>
        <p class="card-text">
            @if (@Model.OnSale)
            {
                <span class="badge bg-danger text-white">Sale!</span>
                <del class="original-price">@Model.Price.ToString("##0.00,$#")</del>
                <span class="sale-price">@Model.DiscountedPrice?.ToString("##0.00,$#")</span>
            }
            else
            {
                <span class="price">@Model.Price.ToString("##0.00,$#")</span>
            }
        </p>
    </div>
</div>